body {
    position: relative;
    font-family: Open Sans;
    background: #F9F9F9;
    left:90px;
}
html {
    width:1280px;
    height:7141px;
    top:-4961px;
    left:-785px;
    blend:Pass through;
}
nav {
    font-style: normal;
}
button {
    position: absolute;
    cursor: pointer;
}
.main_page, .about_us, .box_office, .scenarios  {
    position: absolute;
    font-family: Source Sans Pro;
    color: #000000;
}
.about_the_checkout, .video, .specifications{
    position: absolute;
    text-decoration: none;
    color: #000000;
    text-align: center;
    text-align-all: center;
}
.buy, .rent, .our_software{
    position: absolute;
    text-align: center;
    text-align-all: center;
    text-decoration: none;
    color: #000000;
}
.the_first_button_is_the_right_arrow, .the_second_button_is_the_right_arrow, .the_third_button_is_the_right_arrow,
.the_fourth_button_is_the_right_arrow{
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
}
.swipe_1, .swipe_2_1, .swipe_2_2, .swipe_2_3, .swipe_2_4 {
    position: absolute;
    width: 9.7px;
    height: 9.7px;
    top: 4389.48px;
}
.left_arrow_button_previous, .right_arrow_button_next {
    position: absolute;
    top: 3208.97px;
}
.to_order_1, .to_order_2, .to_order_3 {
    font-weight: 600;
    font-size: 25px;
    line-height: 18px;
    width: 275px;
    height: 63px;
    font-style: normal;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 7px;
}
.town, .name, .number {
    position: absolute;
    height: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}
.rubles_3650, .rubles_240000 {
    position: absolute;
    font-style: normal;
}
.input_moscow, .full_name, .phone {
    position: absolute;
    width: 385px;
    height: 70px;
    left: 796px;
    background: #FFFFFF;
    border-radius: 7px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;
}
.kkt, .business_growth_scenario, .business_growth_scenario_2, .current_proceeds {
    position: absolute;
    height: 25px;
    left: 103px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #898989;
}
.everything_is_simple_with_us, .iris_retail, .business_growth_scenarios, .reaching_a_new_level_of_profit,
.our_cash_desks {
    position: absolute;
    font-style: normal;
    color: #000000;
}
.iris {
    position: absolute;
    left: 101px;
    top: 4px;
}
.three_people {
    position: absolute;
    left: 619px;
    top: 845.5px;
}
.entrepreneurs_dream, .your_growth_is_our_goal {
    position: absolute;
    font-style: normal;
    color: #000000;
}
.entrepreneurs_dream {
    width: 736px;
    height: 25px;
    left: 96px;
    top: 110px;
    font-weight: bold;
    font-size: 55px;
    line-height: 24px;
}
.your_growth_is_our_goal {
    position: absolute;
    width: 465px;
    height: 32px;
    left: 99px;
    top: 265px;
    font-weight: 600;
    font-size: 40px;
    line-height: 20px;
}
.line_1, .line_2, .line_3, .line_4, .line_5 {
    position: absolute;
}
.line_1 {
    left: 99px;
    top: 317px;
}
.line_2 {
    left: 108px;
    top: 947px;
}
.now_available_to_you {
    position: absolute;
    width: 463px;
    height: 60px;
    left: 99px;
    top: 337px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
}
.everything_is_simple_with_us {
    width: 528px;
    height: 25px;
    left: 376px;
    top: 705px;
    font-weight: bold;
    font-size: 55px;
    line-height: 24px;
}
.iris_retail {
    width: 455px;
    height: 150px;
    left: 108px;
    top: 967px;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
}
.business_growth_scenarios {
    width: 649px;
    height: 25px;
    left: 340px;
    top: 2493.03px;
    font-weight: bold;
    font-size: 50px;
    line-height: 24px;
}
.reaching_a_new_level_of_profit {
    width: 893px;
    height: 60px;
    left: 194px;
    top: 2663.03px;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}
.our_cash_desks {
    width: 309px;
    height: 50px;
    left: 496px;
    top: 3771px;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
}
.choose_your_business_area {
    position: absolute;
    width: 787px;
    height: 25px;
    left: 250px;
    top: 1563px;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 24px;
    color: #3F3D56;
}
.one_people {
    height: 533.7894844271075px;
    width: 514.1105905802306px;
    border-radius: 0px;
    position: absolute;
    left: 631px;
    right: 100px;
    top: 105px;
    bottom: -31.51%;
    transform: rotate(0deg);
}
.rectangle {
    position: absolute;
    width: 1280px;
    height: 56px;
    left: 0px;
    top: 0px;
}
.main_page {
    left: 470px;
    top: 18px;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}
.green_board {
    position: absolute;
    left: 760.9px;
    top: 890.93px;
    bottom: 46.77%;
}
.four_recommendations {
    position: absolute;
    width: 1086px;
    height: 253px;
    left: 97px;
    top: 1215px;
}
.revenue_growth {
    text-decoration: none;
    position: absolute;
    width: 282px;
    height: 53px;
    left: 271px;
    top: 2557px;
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    text-align-all: center;
    color: #000000;
}
.revenue_growth:hover {
    text-decoration: none;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 20px;
}
.cost_reduction {
    text-decoration: none;
    position: absolute;
    width: 380px;
    height: 53px;
    left: 634px;
    top: 2557px;
    text-align: center;
    text-align-all: center;
    font-weight: 600;
    font-size: 35px;
    color: #000000;
}
.cost_reduction:hover {
    text-decoration: none;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 20px;
}
.four_pictures_with_people {
    position: absolute;
    width: 1231px;
    height: 640.03px;
    left: 24px;
    top: 1733px;
}
.about_the_checkout {
    width: 163px;
    height: 53px;
    left: 238px;
    top: 3858px;
    font-weight: 600;
    font-size: 35px;
}
.about_the_checkout:hover {
    text-decoration: none;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 20px;
}
.about_us {
    left: 561px;
    top: 18px;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}
.box_office {
    left: 629px;
    top: 18px;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}
.scenarios {
    left: 699px;
    top: 18px;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}
.phone_number {
    position: absolute;
    left: 825px;
    top: 18px;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    color: #3F3D56;
}
.callback {
    padding: 10px 7px;
    font-family: Source Sans Pro;
    font-size: 20px;
    line-height: 20px;
    width: 174px;
    font-height: 40px;
    left: 1005px;
    top: 8px;
    color: #FFFFFF;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 20px;
}
.figure_triangle {
    position: absolute;
    top: 6072px;
}
.the_best_solution_for_business {
    position: absolute;
    width: 448px;
    height: 77px;
    left: 108px;
    top: 840px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
}
.choose_what_you_need {
    position: absolute;
    width: 709px;
    height: 25px;
    left: 286px;
    top: 4656.97px;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 24px;
    color: #000000;
}
.buy {
    width: 182px;
    height: 53px;
    left: 291px;
    top: 4720px;
    font-weight: 600;
    font-size: 35px;
}
.buy:hover {
    text-decoration: none;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 20px;
}
.rent {
    width: 130px;
    height: 53px;
    left: 570px;
    top: 4720px;
    font-weight: 600;
    font-size: 35px;
}
.rent:hover {
    text-decoration: none;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 20px;
}
.our_software {
    width: 162px;
    height: 53px;
    left: 800px;
    top: 4720px;
    font-weight: 600;
    font-size: 35px;
}
.our_software:hover {
    text-decoration: none;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 20px;
}
.choose_a_solution {
    position: absolute;
    width: 930px;
    height: 60px;
    left: 175px;
    top: 4826.97px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}
.leave_a_request_for_communication {
    position: absolute;
    left: 100px;
    top: 6287px;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 110%;
    color: #000000;
}
.iris_2 {
    position: absolute;
    left: 100px;
    top: 6577px;
    bottom: 45.8%;
}
.button_leave_a_request {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 22px 32px;
    left: 796px;
    top: 6759px;
    background: #FFFFFF;
    border-radius: 7px;
}
.ligal {
    position: absolute;
    width: 618px;
    height: 57px;
    left: 100px;
    top: 7012px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
    opacity: 0.7;
}
.town {
    width: 59px;
    left: 796px;
    top: 6279px;
}
.name {
    width: 42px;
    left: 797px;
    top: 6395px;
}
.number {
    width: 85px;
    left: 796px;
    top: 6511px;
}
.input_moscow {
    top: 6309px;
    color: #000000;
}
.full_name {
    top: 6425px;
    color: #C4C4C4;
}
.phone {
    top: 6541px;
    color: #C4C4C4;
}
.checkbox_i_agree_to_the_terms {
    position: absolute;
    width: 395px;
    height: 60px;
    left: 785px;
    top: 6651px;
}
.order {
    position: absolute;
    width: 294px;
    height: 65px;
    left: 100px;
    top: 6907px;
}
.contacts {
    position: absolute;
    width: 242px;
    height: 65px;
    left: 463px;
    top: 6907px;
}
.picture_with_income_15_percents {
    position: absolute;
    width: 525px;
    height: 355px;
    left: 656px;
    top: 2863px;

}
.interactive_learning {
    position:absolute;
    width: 463px;
    height: 30px;
    left: 113px;
    top: 2900px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 30px;
    color: #000000;
}
.line_4 {
    left: 113px;
    top: 2950px;
}
.creating_conversational_simulations {
    position: absolute;
    width: 513px;
    height: 187px;
    left: 112px;
    top: 2970px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}
.to_order_1 {
    padding: 22px 32px;
    left: 108px;
    top: 3170px;
}
.picture_with_income_25_percents {
    position: absolute;
    width: 525px;
    height: 355px;
    left: 50px;
    top: 3333px;
}
.automatic_pre-orders {
    position: absolute;
    width: 463px;
    height: 30px;
    left: 656px;
    top: 3370px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 30px;
    color: #000000;
}
.line_3 {
    left: 659px;
    top: 3430px;
}
.shelf_fullness_analysis {
    position: absolute;
    width: 525px;
    height: 150px;
    left: 656px;
    top: 3450px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}
.to_order_2 {
    padding: 22px 32px;
    left: 656px;
    top: 3588px;
}
.left_arrow_button_previous {
    left: 30px;
}
.right_arrow_button_next {
    left: 1160px;
}
.video {
    width: 130px;
    height: 53px;
    left: 506px;
    top: 3858px;
    font-weight: 600;
    font-size: 35px;
}
.video:hover {
    text-decoration: none;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 20px;
}
.specifications {
    width: 291px;
    height: 53px;
    left: 736px;
    top: 3858px;
    font-weight: 600;
    font-size: 35px;
}
.specifications:hover {
    text-decoration: none;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 20px;
}
.the_first_button_is_the_right_arrow {
    left: 150px;
    top: 1965px;
}
.the_second_button_is_the_right_arrow {
    left: 670px;
    top: 1965px;
}
.the_third_button_is_the_right_arrow {
    left: 145px;
    top: 2290px;
}
.the_fourth_button_is_the_right_arrow {
    left: 670px;
    top: 2288px;
}
.left_arrow_button_previous_2 {
    left: 50px;
    top: 2025px;
}
.right_arrow_button_next_2 {
    left: 1170px;
    top: 2025px;
}
.neva {
    position: absolute;
    width: 387px;
    height: 45px;
    left: 100px;
    top: 3996px;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 45px;
    color: #000000;
}
.ideal_solution_for_small_businesses {
    position: absolute;
    width: 491px;
    height: 80px;
    left: 90px;
    top: 4094.48px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
}
.line_5 {
    width: 200px;
    left: 115px;
    top: 4194px;
}
.the_device_works_on_the_basis_of_android {
    position: absolute;
    width: 491px;
    height: 120px;
    left: 115px;
    top: 4214.48px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.cash_core {
    position: absolute;
    left: 115px;
    top: 4346.48px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.to_order_3 {
    left: 115px;
    top: 4457.48px;
}
.background_pictures {
    position: absolute;
    left: 690px;
    top: 3996px;
}
.background_pictures_2 {
    position: absolute;
    left: 800px;
    top: 4080px;
}
.cash_register_picture {
    position: absolute;
    left: 759px;
    top: 4115.48px;
}
.swipe_1 {
    left: 922px;
}
.swipe_2_1 {
    left: 937.77px;
}
.swipe_2_2 {
    left: 953.54px;
}
.swipe_2_3 {
    left: 969.31px;
}
.swipe_2_4 {
    left: 985.07px;
}
.left_arrow_button_previous_3 {
    left: 697px;
    top: 4187.48px;
}
.right_arrow_button_next_3 {
    left: 1181px;
    top: 4187.48px;
}
.rubles_3650 {
    width: 161px;
    height: 30px;
    left: 826px;
    top: 4494px;
    font-weight: bold;
    font-size: 40px;
    line-height: 20px;
    color: #000000;
}
.rubles_240000 {
    width: 552px;
    height: 70px;
    left: 100px;
    top: 5607.97px;
    background: #FFFFFF;
    border-radius: 7px 7px 3px 3px;
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;
    color: #000000;
}
.rubles {
    position: absolute;
    left: 992px;
    top: 4492.32px;
}
.projected_revenue_growth {
    position: absolute;
    width: 430px;
    height: 679px;
    left: 748px;
    top: 5037px;
}
.submit_your_application {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 365px;
    height: 83px;
    left: 782px;
    top: 5580px;
    background: #F9F9F9;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 18px;
    padding: 22px 32px;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 7px;
}
.kkt {
    width: 38px;
    top: 5032.97px;
}
.business_growth_scenario {
    width: 251px;
    top: 5187.97px;
}
.business_growth_scenario_2 {
    width: 251px;
    top: 5342.97px;
}
.current_proceeds {
    width: 180px;
    top: 5572.97px;
}
.add_script {
    width: 227px;
    left: 150px;
    top: 5497px;
    font-weight: normal;
    font-size: 25px;
    position: absolute;
    height: 25px;
    font-style: normal;
    line-height: 25px;
    color: #000000;
}
.input_neva, .input_evaluation_of_the_effectiveness_of_advertising, .input_interactive_video_lessons {
    position: absolute;
    height: 70px;
    left: 103px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: #000000;
    border-radius: 7px;
}
.input_neva {
    top: 5067.97px;
    width: 553px;
    color: #000000;
}
.input_evaluation_of_the_effectiveness_of_advertising {
    width: 552px;
    top: 5222.97px;
    line-height: 25px;
    background: #FFFFFF;
}
.input_interactive_video_lessons {
    width: 552px;
    top: 5377.97px;
    background: #FFFFFF;
    line-height: 25px;
}
.down_arrow_button_under_kkt {
    left: 610.24px;
    top: 5098px;
    border: 1.87647px solid #8C8C8C;
}
.button_in_input {
    left: 610.24px;
    top: 5254.07px;
    border: 1.87647px solid #8C8C8C;
}
.button_in_input_2 {
    left: 610.24px;
    top: 5409.07px;
    border: 1.87647px solid #8C8C8C;
}
.plus_button {
    left: 103px;
    top: 5490px;
}
.scrolling_1, .scrolling_2 {
    position: absolute;
    height: 6px;
    top: 5678px;
}
.scrolling_1 {
    width: 393px;
    left: 267px;
    background: #C4C4C4;
    border-radius: 7px 0px;
}
.scrolling_2 {
    width: 163px;
    left: 101px;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 0px 0px 7px 7px;
}
.circle {
    position: absolute;
    left: 215px;
    top: 5649px;
}
.form-check-input {
    position: absolute;
    left: 797px;
    top: 6663px;
    background: #F9F9F9;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
